.booking-trends {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  
}

.booking-trends h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}
